@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-transform: capitalize;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}

.header .header-1 {
    background: rgb(238, 252, 230);
    padding: 1.5rem;
    display: flex;
    align-items: center;
    height: 75px;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    z-index: 1;
}

.header .header-1 .icons a, #login-btn {
    transition: transform .2s;
}

.header .header-1 .icons a:hover, #login-btn:hover {
    color: #3414ee;
    transform: scale(1.1);
}

.header .header-1 .logo {
    font-size: 1.8rem;
    font-weight: bold;
    color: black;
    margin-left: 2rem;
}

.header .header-1 .logo i {
    color: rgb(52, 18, 246);
    padding-right: 3px;
}

.header .header-1 .search-form {
    width: 35rem;
    height: 2.5rem;
    overflow: hidden;
    display: flex;
    margin-left: 2rem;
    align-items: center;
    border: 1px solid gray;
    border-radius: .6rem;
    padding: .5rem;
}

.header .header-1 .search-form input {
    font-size: 1.1rem;
    padding: 0 1rem;
    height: 100%;
    background: none;
    width: 100%;
    text-transform: none;
    color: rgb(12, 8, 250);
}

.header .header-1 .search-form label {
    font-size: 1.5rem;
    padding-right: 1.5rem;
    transition: transform .2s
}

.header .header-1 .search-form label:hover {
    color: rgb(75, 1, 246);
    transform: scale(1.1);
}

.header .header-1 .icons {
    margin-right: 2.5rem;
}

#search-btn {
    display: none;
}

.header .header-1 .icons div, .header .header-1 .icons a {
    font-size: 1.5rem;
    margin-left: 2rem;
    color: black;
}

.header .header-2 {
    background: #3414ee;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    margin-top: 75px;
}

.header .header-2 .navbar {
    text-align: center;
    box-shadow: 0 .5rem 1rem gray;
}

.header .header-2 .navbar a {
    color: white;
    display: inline-block;
    font-weight: bolder;
    font-size: 1.2rem;
    padding: .7rem;
    margin-left: 25px;
}

.header .header-2 .navbar a:hover {
    background: rgb(100, 100, 100);
}

.header .header-2.active {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

.bottom-navbar {
    text-align: center;
    background: rgb(19, 3, 253);
    z-index: 1;
}

.bottom-navbar .copywrite {
    font-size: 15px;
    padding-bottom: 10px;
    color: white;
    text-transform: capitalize;
}

.bottom-navbar a {
    font-size: 1.7rem;
    padding: 15px;
    color: #fff;
    margin-left: 26px;
}

.bottom-navbar a:hover {
    background: gray;
}

.upper-section {
    background: url(../img/bg1.jpg);
    background-size: cover;
    height: auto;
}

.home .row {
    display: flex;
}

.home .row .column {
    flex: 1 1 42rem;
    margin-top: 16rem;
}

.home .row .column .content {
    margin-top: 30px;
    margin-left: 70px;
}

.home .row .column .content h1 {
    font-size: 40px;
}

.home .row .column .content .terms {
    font-size: 13px;
    margin-bottom: 20px;
    margin-left: 8px;
    margin-top: 5px;
}

.home .row .column .content .discount {
    font-size: 15px;
    background: white;
    width: 70%;
    font-weight: bold;
    padding: 2px;
    margin-top: 5px;
    border-radius: 5px;
    text-align: center;
}

.home .row .column .content a {
    margin-top: 15px;
    font-size: 19px;
    background: rgb(9, 41, 226);
    padding: 5px;
    border-radius: 7px;
    color: white;
}

.home .row .column .content a:hover {
    background: rgb(19, 187, 19);
    color: black;
    font-weight: bold;
}

#stand {
    width: 650px;
    margin-top: -29px;
}

.home .row .column .book img {
    height: 260px;
    width: 200px;
    margin-left: 10px;
    transition: transform .2s
}

.home .row .column .book img:hover {
    transform: scale(1.1)
}

.swiper {
    width: 100%;
    height: 100%;
    z-index: 0;
}

.features {
    margin-top: 50px;
    margin-bottom: 40px;
}

.features .row {
    text-align: center;
    display: flex;
    margin-left: 150px;
    margin-right: 150px;
}

.features .row .column {
    flex: 1;
}

.features .row .column a {
    font-size: 25px;
    font-weight: bold;
    color: black;
}

.features .row .column a i {
    font-size: 28px;
    margin-right: 8px;
    color: rgb(57, 158, 17);
}

.section-type {
    text-align: center;
    margin-top: 100px;
    margin-bottom: 60px;
}

.section-type a {
    font-size: 29px;
    color: white;
    font-weight: bold;
    background: rgba(62, 33, 226, 0.959);
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 10px;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
}

.book {
    margin-bottom: 10px;
}

.book .row {
    display: grid;
    grid-template-columns: auto auto auto auto;
    padding: 25px;
    grid-gap: 50px;
    text-align: center;
}

.book .row .column {
    text-align: center;
    background-color: white;
    padding-bottom: 20px;
    padding-top: 15px;
    border-radius: 15px;
    box-shadow: -1px 2px 12px 1px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: -1px 2px 12px 1px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -1px 2px 12px 1px rgba(0, 0, 0, 0.75)
}

.book .row .column img {
    width: 250px;
    height: 320px;
    transition: transform .2s;
}

.book .row .column img:hover {
    transform: scale(1.05);
}

.book .row .column a {
    background: orange;
    font-size: 20px;
    font-weight: bold;
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;
    width: 100%;
    border-radius: 7px;
    color: black;
}

.book .row .column a:hover {
    background: rgb(5, 145, 5);
}

.book .row .column p {
    margin-bottom: 15px;
    font-size: 17px;
    font-weight: bold;
}

.book .review {
    display: grid;
    grid-template-columns: auto auto auto auto;
    padding: 25px;
    grid-gap: 50px;
    text-align: center;
}

.book .review .column img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 1px solid rgb(22, 228, 22);
}

.book .review .column .checked {
    color: orange;
}

.section-type p {
    margin-top: 20px;
    margin-bottom: -40px;
}

.section-type #contact-info {
    color: rgb(41, 19, 243);
    font-weight: bold;
}

.contact {
    display: flex;
    text-align: center;
    justify-content: center;
    background: url(../img/1.jpg);
    box-shadow: inset 0 0 0 2000px rgba(21, 104, 25, 0.3);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 20px;
    padding-top: 90px;
    padding-bottom: 70px;
}

.contact .address {
    margin-right: 90px;
}

.contact .address .rw {
    display: flex;
    text-align: left;
    padding: 10px;
    margin-top: 8px;
}

.contact .address .rw .col i {
    font-size: 30px;
    padding: 15px;
    color: white;
}

.contact .address .rw .col h3 {
    color: rgba(13, 75, 245, 0.945);
    font-weight: bold;
    text-shadow: 1px 1px black;
}

.contact .address .rw .col p {
    color: white;
    font-size: 15px;
    text-shadow: 1px 1px black;
}

.contact .address .rw .col .eml {
    text-transform: lowercase;
}

.contact .contact-form {
    background: white;
    padding: 10px;
    width: 30%;
    margin-left: 150px;
    border-radius: 20px;
    padding-top: 20px;
    box-shadow: -1px 2px 12px 1px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: -1px 2px 12px 1px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -1px 2px 12px 1px rgba(0, 0, 0, 0.75)
}

.contact .contact-form label {
    font-size: 18px;
    font-weight: bolder;
}

.contact .contact-form .input {
    margin-top: 5px;
    width: 90%;
    padding: 10px;
    font-size: 17px;
    background: none;
    border-bottom: 1px solid black;
    color: black;
}

.contact .contact-form #submit {
    padding: 8px;
    border-radius: 5px;
    margin-top: 25px;
    margin-bottom: 10px;
    color: white;
    font-size: 17px;
    background: #3414ee;
    text-transform: uppercase;
}

.contact .contact-form #submit:hover {
    background: green;
}

/* media queries */

@media (max-width:991px) {
    html {
        font-size: 13px;
    }
    .home .row .column .content h1 {
        font-size: 30px;
    }
    .home .row .column .content h3 {
        font-size: 19px;
    }
    .home .row .column .content .discount {
        font-size: 10px;
    }
    #stand{
        width: 100%
    }
}

@media (max-width:768px) {
    .header .header-2 {
        display: none;
    }
    #search-btn {
        display: inline-block;
    }
    .header .header-1 {
        box-shadow: 0 .5rem 1rem gray;
        position: relative;
    }
    .header .header-1 .search-form {
        position: absolute;
        top: -120%;
        right: 2rem;
        width: 90%;
        background: rgb(236, 245, 247);
        box-shadow: 0 .5rem 1rem gray;
    }
    .header .header-1 .search-form.active {
        top: 120%;
    }
    .home .row .column .content a {
        font-size: 15px;
    }
    .home .row .column .content {
        margin-top: -90px;
        margin-left: 20px;
    }
    .home .row .column .content .terms {
        font-size: 10px;
        margin-left: -1px;
        margin-top: 10px;
    }
    .home .row .book-slider{
        margin-top: 80px;
    }
    .home .row .column .book img {
        width: 190px;
        height: 230px;
    }
    #stand{
        width: 205px;
    }
}

@media (max-width:450px) {
    html {
        font-size: 45%;
    }
}